# Node.js
node_modules/
npm-debug.log*

# VSCode y editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Logs
*.log

# Parcel / Webpack / cache
.cache/
.parcel-cache/
